aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
altair==5.5.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.11.0
arrow==1.4.0
asgiref==3.9.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.14.0
billiard==4.2.1
bleach==6.3.0
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.2
catboost==1.2.8
cattrs==25.1.1
celery==5.5.3
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudscraper==1.2.71
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
crispy-bootstrap5==0.7
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
diff-match-patch==20241021
Django==5.2.5
django-bootstrap5==25.2
django-cors-headers==4.3.1
django-crispy-forms==2.0
django-environ==0.11.2
django-extensions==4.1
django-filter==25.1
django-import-export==4.3.9
django-tables2==2.7.5
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
et_xmlfile==2.0.0
executing==2.2.1
fake-useragent==2.2.0
fastjsonschema==2.21.2
filelock==3.19.1
Flask==3.1.2
Flask-JWT-Extended==4.7.1
fonttools==4.59.1
fqdn==1.5.1
frozenlist==1.8.0
gitdb==4.0.12
GitPython==3.1.45
google-ads==28.4.0
google-api-core==2.28.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-genai==1.53.0
googleads==47.0.0
googleapis-common-protos==1.72.0
googlesearch-python==1.3.0
graphviz==0.21
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.76.0
gspread==6.2.1
gspread-dataframe==4.0.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
kombu==5.5.4
lark==1.3.1
lightgbm==4.6.0
lxml==6.0.2
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.2.1
mistune==3.1.4
multidict==6.7.0
narwhals==2.10.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.3.2
oauthlib==3.3.1
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
Paginator==0.5.1
Panda3D==1.10.15
panda3d-gltf==1.3.0
panda3d-simplepbr==0.13.1
pandas==2.3.2
pandocfilters==1.5.1
parso==0.8.5
phonenumbers==9.0.13
pillow==11.3.0
platformdirs==4.3.8
plotly==6.4.0
prometheus_client==0.23.1
prompt_toolkit==3.0.51
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==7.1.3
psycopg2==2.9.10
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydeck==0.9.1
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.10.1
pynput==1.8.1
pyparsing==3.2.3
pyperclip==1.11.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
python-json-logger==4.0.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
reportlab==4.4.3
requests==2.32.5
requests-cache==1.2.1
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.28.0
rsa==4.9.1
scikit-learn==1.7.2
scipy==1.16.3
screeninfo==0.8.1
seaborn==0.13.2
selenium==4.35.0
Send2Trash==1.8.3
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
sqlparse==0.5.3
sswg==4.3.0
stack-data==0.6.3
streamlit==1.51.0
tablib==3.8.0
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tldextract==5.3.0
toml==0.10.2
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
undetected-chromedriver==3.5.5
uri-template==1.3.0
url-normalize==2.2.1
urllib3==2.5.0
ursina==8.3.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.2.13
webcolors==25.10.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
whois==1.20240129.2
widgetsnbextension==4.0.15
wsproto==1.2.0
xgboost==3.1.1
xmltodict==0.15.1
yarl==1.22.0
zeep==4.3.2


